@import "../commonStyles/constants.scss";

$fontBold: 600;

.fun-fact-heading {
  @include text("title");
  display: flex;
  justify-content: center;
}
.ff-card-container {
  display: flex;
  direction: row;
  gap: 20px;
  @include text("subheading");
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: rgb(254, 253, 253);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px;
  max-width: 640px;

  .fact-container {
    background-color: #050505;
    @include text("subheading");
    @include padding;
    border-radius: 8px;
    width: 100%;

    img {
      width: 100%;
    }

    .content {
      @include margin;
      text-align: left;
      color: whitesmoke;
    }
    .title {
      font-weight: $fontBold;
      @include text("heading");
      margin-left: 1rem;
    }
    .text-container {
      @include margin;
      text-align: left;
      .username {
        @include text("paragraph");
      }
    }

    .stats {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
